In [2]:
import pandas as pd
data = pd.read_csv('MoviesOnStreamingPlatforms_updated.csv')

In [6]:
d1 = data[['Title','IMDb']]
d1 = d1.set_index('Title')
d1

                                IMDb
Title
Inception                        8.8
The Matrix                       8.7
Avengers: Infinity War           8.5
Back to the Future               8.5
The Good, the Bad and the Ugly   8.8
...                              ...
The Ghosts of Buxley Hall        6.2
The Poof Point                   4.7
Sharks of Lost Island            5.7
Man Among Cheetahs               6.6
In Beaver Valley                 NaN

[16744 rows x 1 columns]